*.log
/AGRIVQA/
/container/
/.devcontainer/
/data/
/translation/OpenNMT-py/
/translation/models/nllb-200-3.3B-onmt.pt
/requirements.txt
/important_datasets/
lm_eval.ipynb
lm-evaluation-harness
*.csv
*.jpg
results
images
datasets
my_MMMU
logs
lmms-eval
LLaVA-NeXT
__pycache__
